.projects h1 {
    font-size: 64px;
    line-height: 96px;
    font-family: "Poppins", sans-serif;
    margin: 150px 0 0 200px;
}

@media (max-width: 1120px) {
    .projects h1 {
        margin: 150px 0 25px 0;
        text-align: center;
    }

}

@media (max-width: 558px) {
    .projects h1 {
        font-size: 40px;
    }
}
