footer {
    padding: 100px 0;
}

.personal-data {
    gap: 80px;
}

.social-media {
    margin: 0 0 20px 100px;
    gap: 30px;
    cursor: pointer;
}

.social-media img {
    width: 60px;
    filter: invert(1);
    transition: filter 0.3s ease;
}

.dark-theme .social-media img {
    filter: invert(0);
}

.light-theme .social-media img {
    filter: invert(1);
}

footer h1,
footer h2 {
    padding: 0;
    margin: 0;
    text-align: start;
    font-size: 32px;
}

@media (min-width:769px) and (max-width: 900px) {
    footer h1,
    footer h2 {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .personal-data {
        align-items: center;
    }
    .social-media {
        margin: 0 0 20px 0px;
    }
}
